verif/graph_tests/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
verif/template_netlist/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
src/pipegen2/docs/l1_memory_layout.png filter=lfs diff=lfs merge=lfs -text
verif/template_netlist/netlists/ncrisc_fallback_buffer_tests/push/wormhole_b0/test_more_than_40_dram_buffers_per_core.zip filter=lfs diff=lfs merge=lfs -text
docs/public/images/overlay_blob.png filter=lfs diff=lfs merge=lfs -text
docs/public/images/r_vs_c_t_streaming.png filter=lfs diff=lfs merge=lfs -text
docs/public/images/untilizing.png filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/blackhole/netlist_bert_12x_encoder_1x_whb0_base_training.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/blackhole/netlist_bert_24x_encoder_1x_whb0_large_training.yaml filter=lfs diff=lfs merge=lfs -text
