[submodule "third_party/sfpi"]
	path = third_party/sfpi
	url = https://github.com/tenstorrent-metal/sfpi-rel
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "third_party/tt_llk_grayskull"]
	path = third_party/tt_llk_grayskull
	url = https://github.com/tenstorrent/tt-llk-gs.git
[submodule "third_party/tt_llk_wormhole_b0"]
	path = third_party/tt_llk_wormhole_b0
	url = https://github.com/tenstorrent/tt-llk-wh-b0.git
