verif/graph_tests/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
verif/template_netlist/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
src/pipegen2/docs/l1_memory_layout.png filter=lfs diff=lfs merge=lfs -text
verif/template_netlist/netlists/ncrisc_fallback_buffer_tests/push/wormhole_b0/test_more_than_40_dram_buffers_per_core.zip filter=lfs diff=lfs merge=lfs -text
