verif/pipegen_tests/netlists/wormhole_b0/push/baseline.zip filter=lfs diff=lfs merge=lfs -text
verif/pipegen_tests/netlists/wormhole_b0/nightly/baseline.zip filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_filesystem.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_filesystem.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_regex.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_regex.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_system.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_system.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_thread.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libboost_thread.so.1.65.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libicudata.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libicudata.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libicui18n.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libicui18n.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libicuuc.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libicuuc.so.60 filter=lfs diff=lfs merge=lfs -text
common_lib/libsqlite3.so.0 filter=lfs diff=lfs merge=lfs -text
common_lib/libsqlite3.so.0 filter=lfs diff=lfs merge=lfs -text
common_lib/libz.so.1 filter=lfs diff=lfs merge=lfs -text
common_lib/libz.so.1 filter=lfs diff=lfs merge=lfs -text
dbd/test/exported-runs/bert-large-no-pkl.zip filter=lfs diff=lfs merge=lfs -text
dbd/test/exported-runs/gs-x2-fd8f98aca.zip filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/grayskull/clkctl filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/grayskull/init filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/grayskull/pm_en.ttx filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/grayskull/setup_interface filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/grayskull/tt-script filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/reset-chip filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/tensix-reset filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/boot filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/flash-spi filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/get-wormhole-interfaces filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/imx8-reset filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/load-eth-fw filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/noc-overlay-dump filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/setup-interface filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/temp filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/tt-flash filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/wormhole/tt-script filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_bfp8_s2.bin filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_fp16b_s2.bin filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_fp32_s2.bin filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp16b.0.bin filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp16b_s1.0.bin filter=lfs diff=lfs merge=lfs -text
loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp32.0.bin filter=lfs diff=lfs merge=lfs -text
perf_lib/graph_tests/grayskull/inference/bert_large_hifi3_fp16b.yaml filter=lfs diff=lfs merge=lfs -text
perf_lib/graph_tests/grayskull/inference/bert_large_lofi_bfp8b.yaml filter=lfs diff=lfs merge=lfs -text
perf_lib/graph_tests/wormhole/training/bert_base_lofi_bfp8b.yaml filter=lfs diff=lfs merge=lfs -text
perf_lib/graph_tests/wormhole/training/bert_large_hifi3_fp16b.yaml filter=lfs diff=lfs merge=lfs -text
perf_lib/graph_tests/wormhole/training/bert_large_lofi_bfp8b.yaml filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-as filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-c++ filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-cpp filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-gcc-10.2.0 filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-gcc-12.2.0 filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-gcc filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-gdb filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-g++ filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-ld.bfd filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-ld filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-lto-dump filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-objcopy filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-objdump filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-run filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/bin/riscv32-unknown-elf-strip filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/libexec/gcc/riscv32-unknown-elf/10.2.0/cc1 filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/libexec/gcc/riscv32-unknown-elf/10.2.0/cc1plus filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/libexec/gcc/riscv32-unknown-elf/10.2.0/lto1 filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/lib/gcc/riscv32-unknown-elf/10.2.0/libgcc.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/lib/gcc/riscv32-unknown-elf/10.2.0/plugin/gtype.state filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/lib/libriscv32-unknown-elf-sim.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/as filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/ld.bfd filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/ld filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/objcopy filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/objdump filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/bin/strip filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/lib/libc.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/lib/libc_nano.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/lib/libg.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/lib/libg_nano.a filter=lfs diff=lfs merge=lfs -text
src/ckernels/sfpi/compiler/riscv32-unknown-elf/lib/libstdc++.a filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/grayskull/headers/usr_include/boost/hana/detail/struct_macros.hpp filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/grayskull/lib/libc_verilated_hw.so filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/grayskull/lib/versim-core.so filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/wormhole_b0/lib/libc_verilated_hw.so filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/wormhole_b0/lib/versim-core.so filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/wormhole/lib/libc_verilated_hw.so filter=lfs diff=lfs merge=lfs -text
third_party/confidential_tenstorrent_modules/versim/wormhole/lib/versim-core.so filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/wormhole_b0/netlist_bert_12x_encoder_1x_whb0_base_training.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/wormhole_b0/netlist_bert_24x_encoder_1x_whb0_large_training.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/wormhole/netlist_bert_12x_encoder_1x_wh_base_training.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/wormhole/netlist_bert_24x_encoder_1x_wh_large_training.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_12chip_lab68.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_32chip_lab78.no_snakeplace.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_32chip_lab78.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_4chip_jb11.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_8chip_jb11.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/netlist_bert_concurrent_24x_encoder_2x_wh_large_inference.yaml filter=lfs diff=lfs merge=lfs -text
verif/tm_tests/directed/bert_large_inference_hifi.yaml filter=lfs diff=lfs merge=lfs -text
verif/tm_tests/directed/packer_mcast.tar.gz filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/falcon_60l_8chip.yaml filter=lfs diff=lfs merge=lfs -text
verif/multichip_tests/wh_multichip/large_cluster/falcon_8c_0mf_0af_60l_2048s__netlist.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/t5_large_wormhole_b0.yaml filter=lfs diff=lfs merge=lfs -text
verif/graph_tests/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
verif/template_netlist/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
verif/pipegen_tests/netlists/**/*.zip filter=lfs diff=lfs merge=lfs -text
src/pipegen2/docs/l1_memory_layout.png filter=lfs diff=lfs merge=lfs -text
