
# CODEOWNERS file

netlist/tt_backend.*             @tzhou
netlist/tt_backend_api.*         @tzhou
netlist/tt_backend_api_types.*   @tzhou

perf_lib/op_model/op_model.*     @sjovic @macimovic
perf_lib/op_model/params/        @sjovic @macimovic
perf_lib/*                       @jnie

netlist/netlist_parser.*         @tzhou @rjakovljevic

runtime/                         @kmabee @asaigal @tzhou
loader/                          @kmabee @asaigal

ops/                             @pjosipovic @ppopovic

src/pipegen2/                    @rpavlovic @mrakita

src/net2pipe/                    @snijjar @imatosevic
