@page {
    margin: 1cm;
}

body {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Apply bold to all headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222
}

h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: .5em;
    color: #555;
}

/* We use this for command titles (see convert-help-to-markdown.py) */
h4 {
    border: 1px solid #999;
    background-color: #444;
    color: #ddd;
    border-radius: 6px;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 22px;
}

/* Used for command sub-sections (description, examples...) */
h5 {
    font-size: 18px;
    padding-left: 0.5em;
}

/* Make headings light blue */

/* Paragraph styles */
p {
    line-height: 1.5;
    font-size: 16px;
    padding: .2em;
    padding-left: 1em;
}

/* This is for text that is inside single backtick ` Make it marroon */
p code {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    color: #a00;
}

/* This is for text that is inside triple backtick ``` */
pre {
    font-family: 'Inconsolata', monospace;
    font-size: 8px;
    line-height: 1.2;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1em;
}

/* Table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

/* Text under images */
figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-top: .5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}