#ntb_random_seed=0
#Test id=0
- device: GRAYSKULL
  entries: 4
  grid_size_x: 6
  grid_size_y: 6
  in_grid_size_x: 6
  in_grid_size_y: 6
  t: 1
  mblock_m: 16
  mblock_n: 7
  ublock_rt: 2
  ublock_ct: 4
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 16
  in_mblock_n: 7
  in_ublock_rt: 2
  in_ublock_ct: 4
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Float16'
  in0_dram_buffers: '[[6, 0x10020f80], [6, 0x1073cfa0], [6, 0x10e58fc0], [6, 0x11574fe0], [2, 0x11c91000], [6, 0x123ad020], [0, 0x12ac9040], [4, 0x131e5060], [0, 0x13901080], [0, 0x1401d0a0], [7, 0x147390c0], [4, 0x14e550e0], [4, 0x15571100], [1, 0x15c8d120], [3, 0x163a9140], [0, 0x16ac5160], [1, 0x171e1180], [7, 0x178fd1a0], [3, 0x180191c0], [1, 0x187351e0], [3, 0x18e51200], [5, 0x1956d220], [1, 0x19c89240], [7, 0x1a3a5260], [2, 0x1aac1280], [0, 0x1b1dd2a0], [3, 0x1b8f92c0], [7, 0x1c0152e0], [6, 0x1c731300], [7, 0x1ce4d320], [3, 0x1d569340], [5, 0x1dc85360], [6, 0x1e3a1380], [1, 0x1eabd3a0], [0, 0x1f1d93c0], [4, 0x1f8f53e0]]'
  in1_data_format: 'Float16'
  in1_dram_buffers: '[[6, 0x200122a0], [6, 0x2072e2c0], [6, 0x20e4a2e0], [6, 0x21566300], [2, 0x21c82320], [6, 0x2239e340], [0, 0x22aba360], [4, 0x231d6380], [0, 0x238f23a0], [0, 0x2400e3c0], [7, 0x2472a3e0], [4, 0x24e46400], [4, 0x25562420], [1, 0x25c7e440], [3, 0x2639a460], [0, 0x26ab6480], [1, 0x271d24a0], [7, 0x278ee4c0], [3, 0x2800a4e0], [1, 0x28726500], [3, 0x28e42520], [5, 0x2955e540], [1, 0x29c7a560], [7, 0x2a396580], [2, 0x2aab25a0], [0, 0x2b1ce5c0], [3, 0x2b8ea5e0], [7, 0x2c006600], [6, 0x2c722620], [7, 0x2ce3e640], [3, 0x2d55a660], [5, 0x2dc76680], [6, 0x2e3926a0], [1, 0x2eaae6c0], [0, 0x2f1ca6e0], [4, 0x2f8e6700]]'
  dest_accumulate_data_format: 'Float16'
  out_data_format: 'Float16'
  target_device: 0
  input_count: 1
  binary_type: add
  grid_loc_x: 5
  grid_loc_y: 2
  math_fidelity: HiFi2
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'dram'
  out_dram_buffers: '[[6, 0x300037e0]]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 192
  out_mblock_n: 168
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 8
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=1
- device: GRAYSKULL
  entries: 4
  grid_size_x: 4
  grid_size_y: 2
  in_grid_size_x: 4
  in_grid_size_y: 2
  t: 2
  mblock_m: 1
  mblock_n: 4
  ublock_rt: 4
  ublock_ct: 1
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 1
  in_mblock_n: 4
  in_ublock_rt: 4
  in_ublock_ct: 1
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Float16_b'
  in0_dram_buffers: '[[2, 0x1840c460], [1, 0x1844d480], [7, 0x1848e4a0], [2, 0x184cf4c0], [5, 0x185104e0], [0, 0x18551500], [7, 0x18592520], [6, 0x185d3540]]'
  in1_data_format: 'Bfp8_b'
  in1_dram_buffers: '[[2, 0x1944a4e0], [1, 0x1946d500], [7, 0x19490520], [2, 0x194b3540], [5, 0x194d6560], [0, 0x194f9580], [7, 0x1951c5a0], [6, 0x1953f5c0]]'
  dest_accumulate_data_format: 'Float16'
  out_data_format: 'Float16_b'
  target_device: 0
  input_count: 2
  binary_type: subtract
  grid_loc_x: 6
  grid_loc_y: 0
  math_fidelity: LoFi
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0xb2ff9c0]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 8
  out_mblock_n: 16
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 8
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=2
- device: GRAYSKULL
  entries: 8
  grid_size_x: 12
  grid_size_y: 1
  in_grid_size_x: 12
  in_grid_size_y: 1
  t: 2
  mblock_m: 1
  mblock_n: 3
  ublock_rt: 1
  ublock_ct: 8
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 1
  in_mblock_n: 3
  in_ublock_rt: 1
  in_ublock_ct: 8
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Float16'
  in0_dram_buffers: '[[2, 0x1e8a7620], [4, 0x1e96a640], [6, 0x1ea2d660], [7, 0x1eaf0680], [7, 0x1ebb36a0], [0, 0x1ec766c0], [3, 0x1ed396e0], [1, 0x1edfc700], [4, 0x1eebf720], [2, 0x1ef82740], [1, 0x1f045760], [3, 0x1f108780]]'
  in1_data_format: 'Bfp8'
  in1_dram_buffers: '[[2, 0x213cadc0], [4, 0x21433de0], [6, 0x2149ce00], [7, 0x21505e20], [7, 0x2156ee40], [0, 0x215d7e60], [3, 0x21640e80], [1, 0x216a9ea0], [4, 0x21712ec0], [2, 0x2177bee0], [1, 0x217e4f00], [3, 0x2184df20]]'
  dest_accumulate_data_format: 'Float16'
  out_data_format: 'Float16'
  target_device: 0
  input_count: 4
  binary_type: multiply
  grid_loc_x: 0
  grid_loc_y: 5
  math_fidelity: LoFi
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0xa82c680]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 1
  out_mblock_n: 288
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 1
  queue_wrap_size: 16
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=3
- device: GRAYSKULL
  entries: 32
  grid_size_x: 12
  grid_size_y: 1
  in_grid_size_x: 12
  in_grid_size_y: 1
  t: 2
  mblock_m: 7
  mblock_n: 4
  ublock_rt: 3
  ublock_ct: 2
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 7
  in_mblock_n: 4
  in_ublock_rt: 3
  in_ublock_ct: 2
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Float16'
  in0_dram_buffers: '[[6, 0x1001db60], [2, 0x11571b80], [0, 0x12ac5ba0], [3, 0x14019bc0], [5, 0x1556dbe0], [0, 0x16ac1c00], [4, 0x18015c20], [1, 0x19569c40], [7, 0x1aabdc60], [0, 0x1c011c80], [4, 0x1d565ca0], [4, 0x1eab9cc0]]'
  in1_data_format: 'Float16'
  in1_dram_buffers: '[[6, 0x2000e0c0], [2, 0x215620e0], [0, 0x22ab6100], [3, 0x2400a120], [5, 0x2555e140], [0, 0x26ab2160], [4, 0x28006180], [1, 0x2955a1a0], [7, 0x2aaae1c0], [0, 0x2c0021e0], [4, 0x2d556200], [4, 0x2eaaa220]]'
  dest_accumulate_data_format: 'Float16'
  out_data_format: 'Float16'
  target_device: 0
  input_count: 16
  binary_type: add
  grid_loc_x: 0
  grid_loc_y: 3
  math_fidelity: HiFi3
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'dram'
  out_dram_buffers: '[[6, 0x2fffe2e0]]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 21
  out_mblock_n: 96
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 1
  queue_wrap_size: 64
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=4
- device: GRAYSKULL
  entries: 2
  grid_size_x: 11
  grid_size_y: 3
  in_grid_size_x: 11
  in_grid_size_y: 3
  t: 50
  mblock_m: 3
  mblock_n: 1
  ublock_rt: 8
  ublock_ct: 1
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 3
  in_mblock_n: 1
  in_ublock_rt: 8
  in_ublock_ct: 1
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Float16_b'
  in0_dram_buffers: '[[3, 0x17bed280], [6, 0x180afea0], [6, 0x18572ac0], [6, 0x18a356e0], [3, 0x18ef8300], [3, 0x193baf20], [1, 0x1987db40], [1, 0x19d40760], [3, 0x1a203380], [1, 0x1a6c5fa0], [2, 0x1ab88bc0], [6, 0x1b04b7e0], [2, 0x1b50e400], [6, 0x1b9d1020], [7, 0x1be93c40], [7, 0x1c356860], [2, 0x1c819480], [2, 0x1ccdc0a0], [2, 0x1d19ecc0], [3, 0x1d6618e0], [6, 0x1db24500], [4, 0x1dfe7120], [5, 0x1e4a9d40], [1, 0x1e96c960], [5, 0x1ee2f580], [0, 0x1f2f21a0], [1, 0x1f7b4dc0], [7, 0x1fc779e0], [2, 0x2013a600], [5, 0x205fd220], [5, 0x20abfe40], [7, 0x20f82a60], [4, 0x21445680]]'
  in1_data_format: 'Float32'
  in1_dram_buffers: '[[3, 0x22041420], [6, 0x229b4040], [6, 0x23326c60], [6, 0x23c99880], [3, 0x2460c4a0], [3, 0x24f7f0c0], [1, 0x258f1ce0], [1, 0x26264900], [3, 0x26bd7520], [1, 0x2754a140], [2, 0x27ebcd60], [6, 0x2882f980], [2, 0x291a25a0], [6, 0x29b151c0], [7, 0x2a487de0], [7, 0x2adfaa00], [2, 0x2b76d620], [2, 0x2c0e0240], [2, 0x2ca52e60], [3, 0x2d3c5a80], [6, 0x2dd386a0], [4, 0x2e6ab2c0], [5, 0x2f01dee0], [1, 0x2f990b00], [5, 0x30303720], [0, 0x30c76340], [1, 0x315e8f60], [7, 0x31f5bb80], [2, 0x328ce7a0], [5, 0x332413c0], [5, 0x33bb3fe0], [7, 0x34526c00], [4, 0x34e99820]]'
  dest_accumulate_data_format: 'Float16'
  out_data_format: 'Float16_b'
  target_device: 0
  input_count: 2
  binary_type: multiply
  grid_loc_x: 0
  grid_loc_y: 0
  math_fidelity: HiFi2
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0x2e0d940]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 72
  out_mblock_n: 11
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 1
  queue_wrap_size: 4
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
