#ntb_random_seed=0
#Test id=0
- device: WORMHOLE_B0
  entries: 8
  grid_size_x: 2
  grid_size_y: 2
  in_grid_size_x: 2
  in_grid_size_y: 2
  t: 4
  mblock_m: 10
  mblock_n: 7
  ublock_rt: 1
  ublock_ct: 4
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 10
  in_mblock_n: 7
  in_ublock_rt: 1
  in_ublock_ct: 4
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Int8'
  in0_dram_buffers: '[[1, 0x28a21a60], [1, 0x293b3a80], [4, 0x29d45aa0], [3, 0x2a6d7ac0]]'
  in1_data_format: 'Int32'
  in1_dram_buffers: '[[1, 0x2b60a8e0], [1, 0x2d950900], [4, 0x2fc96920], [3, 0x31fdc940]]'
  dest_accumulate_data_format: 'Int32'
  out_data_format: 'Int32'
  target_device: 0
  input_count: 2
  binary_type: add
  grid_loc_x: 3
  grid_loc_y: 5
  math_fidelity: HiFi4
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0x3736120]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 20
  out_mblock_n: 56
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 16
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=1
- device: WORMHOLE_B0
  entries: 4
  grid_size_x: 1
  grid_size_y: 5
  in_grid_size_x: 5
  in_grid_size_y: 1
  t: 6
  mblock_m: 9
  mblock_n: 6
  ublock_rt: 2
  ublock_ct: 1
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 6
  in_mblock_n: 9
  in_ublock_rt: 1
  in_ublock_ct: 2
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Int8'
  in0_dram_buffers: '[[2, 0x16c27720], [3, 0x16eec340], [5, 0x171b0f60], [4, 0x17475b80], [0, 0x1773a7a0]]'
  in1_data_format: 'Int8'
  in1_dram_buffers: '[[2, 0x1aea5e60], [3, 0x1b16aa80], [5, 0x1b42f6a0], [4, 0x1b6f42c0], [0, 0x1b9b8ee0]]'
  dest_accumulate_data_format: 'Int32'
  out_data_format: 'Int32'
  target_device: 0
  input_count: 2
  binary_type: multiply
  grid_loc_x: 7
  grid_loc_y: 0
  math_fidelity: HiFi4
  untilize_output:  'true'
  transpose: [transpose]
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'dram'
  out_dram_buffers: '[[2, 0x21556680]]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 90
  out_mblock_n: 6
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 8
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=2
- device: WORMHOLE_B0
  entries: 8
  grid_size_x: 5
  grid_size_y: 6
  in_grid_size_x: 5
  in_grid_size_y: 6
  t: 4
  mblock_m: 12
  mblock_n: 1
  ublock_rt: 4
  ublock_ct: 1
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 12
  in_mblock_n: 1
  in_ublock_rt: 4
  in_ublock_ct: 1
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Int8'
  in0_dram_buffers: '[[5, 0x233a0d60], [5, 0x23544d80], [2, 0x236e8da0], [5, 0x2388cdc0], [4, 0x23a30de0], [2, 0x23bd4e00], [2, 0x23d78e20], [3, 0x23f1ce40], [5, 0x240c0e60], [5, 0x24264e80], [1, 0x24408ea0], [1, 0x245acec0], [2, 0x24750ee0], [5, 0x248f4f00], [3, 0x24a98f20], [2, 0x24c3cf40], [0, 0x24de0f60], [4, 0x24f84f80], [0, 0x25128fa0], [2, 0x252ccfc0], [0, 0x25470fe0], [4, 0x25615000], [2, 0x257b9020], [3, 0x2595d040], [3, 0x25b01060], [2, 0x25ca5080], [1, 0x25e490a0], [2, 0x25fed0c0], [4, 0x261910e0], [4, 0x26335100]]'
  in1_data_format: 'Int8'
  in1_dram_buffers: '[[5, 0x272c70a0], [5, 0x2746b0c0], [2, 0x2760f0e0], [5, 0x277b3100], [4, 0x27957120], [2, 0x27afb140], [2, 0x27c9f160], [3, 0x27e43180], [5, 0x27fe71a0], [5, 0x2818b1c0], [1, 0x2832f1e0], [1, 0x284d3200], [2, 0x28677220], [5, 0x2881b240], [3, 0x289bf260], [2, 0x28b63280], [0, 0x28d072a0], [4, 0x28eab2c0], [0, 0x2904f2e0], [2, 0x291f3300], [0, 0x29397320], [4, 0x2953b340], [2, 0x296df360], [3, 0x29883380], [3, 0x29a273a0], [2, 0x29bcb3c0], [1, 0x29d6f3e0], [2, 0x29f13400], [4, 0x2a0b7420], [4, 0x2a25b440]]'
  dest_accumulate_data_format: 'Int32'
  out_data_format: 'Int32'
  target_device: 0
  input_count: 2
  binary_type: add
  grid_loc_x: 1
  grid_loc_y: 0
  math_fidelity: HiFi4
  untilize_output: 'false'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'dram'
  out_dram_buffers: '[[5, 0x2ac31fe0], [5, 0x2b23e000], [2, 0x2b84a020], [5, 0x2be56040], [4, 0x2c462060], [2, 0x2ca6e080], [2, 0x2d07a0a0], [3, 0x2d6860c0], [5, 0x2dc920e0], [5, 0x2e29e100], [1, 0x2e8aa120], [1, 0x2eeb6140], [2, 0x2f4c2160], [5, 0x2face180], [3, 0x300da1a0], [2, 0x306e61c0], [0, 0x30cf21e0], [4, 0x312fe200], [0, 0x3190a220], [2, 0x31f16240], [0, 0x32522260], [4, 0x32b2e280], [2, 0x3313a2a0], [3, 0x337462c0], [3, 0x33d522e0], [2, 0x3435e300], [1, 0x3496a320], [2, 0x34f76340], [4, 0x35582360], [4, 0x35b8e380]]'
  out_grid_size_x: 5
  out_grid_size_y: 6
  out_mblock_m: 12
  out_mblock_n: 1
  out_ublock_rt: 4
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 16
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=3
- device: WORMHOLE_B0
  entries: 8
  grid_size_x: 1
  grid_size_y: 2
  in_grid_size_x: 1
  in_grid_size_y: 2
  t: 24
  mblock_m: 7
  mblock_n: 3
  ublock_rt: 1
  ublock_ct: 4
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 7
  in_mblock_n: 3
  in_ublock_rt: 1
  in_ublock_ct: 4
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Int8'
  in0_dram_buffers: '[[2, 0x16482e40], [1, 0x175bce60]]'
  in1_data_format: 'Int8'
  in1_dram_buffers: '[[2, 0x2627e760], [1, 0x273b8780]]'
  dest_accumulate_data_format: 'Int32'
  out_data_format: 'Int32'
  target_device: 0
  input_count: 2
  binary_type: multiply
  grid_loc_x: 7
  grid_loc_y: 3
  math_fidelity: HiFi4
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0x2090600]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 14
  out_mblock_n: 12
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 2
  queue_wrap_size: 16
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
#Test id=4
- device: WORMHOLE_B0
  entries: 1
  grid_size_x: 1
  grid_size_y: 5
  in_grid_size_x: 1
  in_grid_size_y: 5
  t: 2
  mblock_m: 15
  mblock_n: 15
  ublock_rt: 2
  ublock_ct: 1
  out_tile_dim_r: 32
  out_tile_dim_c: 32
  in_mblock_m: 15
  in_mblock_n: 15
  in_ublock_rt: 2
  in_ublock_ct: 1
  in_0_tile_dim_r: 32
  in_0_tile_dim_c: 32
  in_1_tile_dim_r: 32
  in_1_tile_dim_c: 32
  in0_data_format: 'Int8'
  in0_dram_buffers: '[[5, 0x3947f160], [0, 0x39575300], [4, 0x3966b4a0], [3, 0x39761640], [2, 0x398577e0]]'
  in1_data_format: 'Int8'
  in1_dram_buffers: '[[5, 0x39be8200], [0, 0x39cde3a0], [4, 0x39dd4540], [3, 0x39eca6e0], [2, 0x39fc0880]]'
  dest_accumulate_data_format: 'Int32'
  out_data_format: 'Int32'
  target_device: 0
  input_count: 1
  binary_type: add
  grid_loc_x: 3
  grid_loc_y: 1
  math_fidelity: HiFi4
  untilize_output:  'true'
  transpose:            
  ublock_order: r
  buf_size_mb: 2
  # Scale output queue grid and mblock size if output is untilized
  # Net2pipe requires grid size 1x1 if untilized output is written to the queue
  out_buffer_loc: 'host'
  out_dram_buffers: '[0xad6c680]'
  out_grid_size_x: 1
  out_grid_size_y: 1
  out_mblock_m: 150
  out_mblock_n: 15
  out_ublock_rt: 1
  out_ublock_ct: 1
  # Program vars
  loop_count: 1
  queue_wrap_size: 2
  # Test and stimulus config
  comparison_config_type: 'AllCloseHw'
  comparison_config_atol: 0.01
  comparison_config_rtol: 0.15
  comparison_config_check_pct: 0.90
  comparison_config_check_pcc: 0.99
  comparison_config_verbosity: 'Concise'
  stimulus_config_type: 'Uniform'
  stimulus_config_uniform_lower_bound: '-2.0'
  stimulus_config_uniform_upper_bound: '2.0'
