BasedOnStyle:  InheritParentConfig
AlignAfterOpenBracket: AlwaysBreak
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
